<div class="container min-vh-100 d-flex justify-content-center align-items-center" id="contact">
  <div class="">
    <div class="col">
      <div class="col">
        <div class="p-5">
          <div class="text-center">
            <div class="row">
              <p class="h1">Contact</p>
            </div>
            <div class="line"></div>
            <div class="row">
              <p class="fs-4 mt-4">Contact me via the button below and 
              I will respond to you ASAP.</p>
            </div>
            <div class="mt-3">
              <%= link_to 'Contact', '/messages/new', class:"btn btn-success px-5 py-2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>