<div class="max-vh-25 py-5 bg-dark ">
  <div class="col">
    <div class="text-center justify-content-center">
      <p class="text-light">Created by 
        <%= link_to 'Liam Hayden', '#', target: 'blank' %>.</p>
    </div>
  </div>
</div>