<%# mobile navbar %>
<%# <nav class="navbar navbar-light bg-light" id="hamburger">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" 
      data-bs-target="#hidden" aria-controls="hidden"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon li"></span>
    </button>
  </div>
</nav>

<div class="collapse" id="hidden">
  <div class="bg-light shadow-3 p-4">
    <button class="btn btn-link btn-block border-bottom m-0">Home</button>
    <button class="btn btn-link btn-block border-bottom m-0">About</button>
    <button class="btn btn-link btn-block border-bottom m-0">Project</button>
    <button class="btn btn-link btn-block border-bottom m-0">Contact</button>
  </div>
</div> %>

<%# desktop navbar %>
<nav class="navbar navbar-exspand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="nav col-sm justify-content-end">
      <li class="nav-item">
        <%= link_to "Home", "#home", class: "text-decoration-none px-2 li" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", "#about", class: "text-decoration-none px-2 li" %>
      </li>
      <li>
        <%= link_to "Projects", "#projects", class: "text-decoration-none px-2 li" %>
      </li>
      <li>
        <%= link_to "Contact", "#contact", class: "text-decoration-none px-2 li" %>
      </li>
  </ul>
  </div>
</nav>









