<div class="bg-grad" id="projects">
  <div class="container min-vh-100 py-5" id="about">
    <div class="col">

      <div class="row">
        <div class="text-center justify-content-center">
          <div class="p-5">
            <p class="h1">Projects</p>
            <div>
              <div class="line"></div>
            </div>
            <p class="fs-4 mt-4">Here you can find my <b>current</b> and <b>previous</b> <b>Ruby on Rails</b>
            projects.</p>
          </div>
        </div>
      </div>

      <% path = "1" %>
      <% @projects.each do |project| %>
        <div class="main">
          <div class="about">
            <div class="col me-3">
              <div class="row g-0">
                <%# display image with name path %>
                <%= image_tag "project_images/#{ File.basename(path) }", 
                alt: "Image of project", class: "shadow-lg rounded" %>
              </div>
            </div>
            <div class="col ms-3">
              <div class="row">
                <p class="h2 fw-bold"> <%= project.title %> </p>
              </div>
              <div class="">
                <p class="mt-3"> <%= project.description %> </p>
              </div>
              <div class="">
                <%= link_to "Link", project.link, target: 'blank', class: "btn btn-success px-5 py-2" %>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-bottom:10rem;"></div>
        <%# interate path to next image %>
        <% path.next! %>
      <% end %>
    </div>
  </div>
</div>
