.li {
  color: #5fcfb7;  
}

.li:hover {
  color: #fff
}

#hidden {
  display: none;
}

body {
@media only screen and (max-width: 600px) {
  #hamburger {
    display: block;
  }
  #nav-bar {
    display: none;
  }
}

}
